{
  "BASTION_PASSWORD": "{{ BASTION_PASSWORD }}",
  "BASTION_IP_ADDRESS": "{{ BASTION_IP_ADDRESS }}",
  "OPENSCAP_PASSWORD": "{{ OPENSCAP_PASSWORD }}",
  "OPENSCAP_IP_ADDRESS": "{{ OPENSCAP_IP_ADDRESS }}",
  "IDMSERVER_PASSWORD": "{{ IDMSERVER_PASSWORD }}",
  "IDMSERVER_IP_ADDRESS": "{{ IDMSERVER_IP_ADDRESS }}",
  "GUID": "{{ GUID }}",
  "USERNAME": "{{ USERNAME }}"
}
